<div style="background-color:#1e1e1e; color:#f1f1f1; padding:15px; border-left:5px solid #4caf50; font-family:Arial, sans-serif;">
  <h2 style="color:#4caf50;">üè† Bengaluru House Price Predictor</h2>
  <p>
    This notebook presents a machine learning model to predict <strong>house prices in Bengaluru</strong> using the 
    <a href="https://www.kaggle.com/datasets/lovishbansal123/dataset-for-bengaluru-house-price-prediction" target="_blank" style="color:#64b5f6;">Bengaluru House Price dataset</a>.
  </p>
  <ul>
    <li>üìÑ Dataset includes features such as <code>location</code>, <code>total_sqft</code>, <code>bathrooms</code>, <code>balcony</code>, <code>size</code>, and more.</li>
    <li>üõ†Ô∏è Data preprocessing is performed to clean and engineer meaningful features.</li>
    <li>üå≥ A <strong>Random Forest Regressor</strong> is used for predicting the house prices.</li>
  </ul>
  <p>
    Follow along to see how we preprocess the data, train the model, and evaluate its performance!
  </p>
</div>

In [139]:
import pandas as pd
import numpy as np
data = pd.read_csv('bengaluru_house_prices.csv')
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [140]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [141]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üìÑ Dropping `society` Column

The **`society`** column has **5562 missing values** out of **13320 rows (~42%)**, making it unreliable.  
We drop it as it likely doesn‚Äôt add much value to the analysis.

---

### üî∑ Code & Steps

‚úÖ Check missing: `data['society'].isna().sum()` ‚Üí `5562`  
‚úÖ Drop the column: `data.drop(columns=['society'], inplace=True)`  
‚úÖ Verify: `data.head()`
:
```python
data.drop(columns=['society'], inplace=True)

In [143]:
data.drop(columns=['society'], inplace=True)
data.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üöÄ Dropping `balcony` Column

The **`balcony`** column has many missing values and its impact is minor because total square footage (`sqft`) already reflects available space.  
We remove it for a cleaner dataset.

---

### üî∑ Code & Explanation

‚úÖ Many `NaN` values in `balcony`.  
‚úÖ `sqft` already accounts for space, so `balcony` adds little value.  
‚úÖ Dropped with: `data.drop(columns=['balcony'], inplace=True)`  
‚úÖ Checked result with: `data.head()`

In [145]:
#similarly we are dropping balcony due to too many null values and balcony doesn't matter that much if sqft is already taken into factor
data.drop(columns=['balcony'], inplace=True)
data.head()

,area_type,availability,location,size,total_sqft,bath,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,51.00

In [146]:
data.availability.value_counts()

availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64

In [147]:
#ready to move have more value generally of a house than houses which are yet to be built so we can convert this column into a binary column 
#where 1 means ready to move and 0 means not yet ready to move
data['availability'] = (data['availability'] == "Ready To Move").astype(int)

In [148]:
data.head()

,area_type,availability,location,size,total_sqft,bath,price
0,Super built-up Area,0,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,1,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,1,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,1,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,1,Kothanur,2 BHK,1200,2.0,51.00

In [149]:
data.area_type.value_counts()

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64

# üö´ Dropping `area_type` Feature

The **`area_type`** column describes the type of area (e.g., Super built-up, Carpet, etc.),  
but it does not clearly indicate the price and adds little predictive value.  
Therefore, we drop this column for a cleaner dataset.

In [151]:
data.drop(columns=['area_type'], inplace=True)
data.head()

   availability                  location       size total_sqft  bath   price
0             0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1             1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2             1               Uttarahalli      3 BHK       1440   2.0   62.00
3             1        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4             1                  Kothanur      2 BHK       1200   2.0   51.00

In [152]:
data.rename(columns={'price':'price(lakhs)'})        #renaming column price to price(lakhs) as these are in lakhs

,availability,location,size,total_sqft,bath,price(lakhs)
0,0,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,1,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,1,Uttarahalli,3 BHK,1440,2.0,62.00
3,1,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,1,Kothanur,2 BHK,1200,2.0,51.00
...,...,...,...,...,...,...
13315,1,Whitefield,5 Bedroom,3453,4.0,231.00
13316,1,Richards Town,4 BHK,3600,5.0,400.00
13317,1,Raja Rajeshwari Nagar,2 BHK,1141,2.0,60.00
13318,0,Padmanabhanagar,4 BHK,4689,4.0,488.00
13319,1,Doddathoguru,1 BHK,550,1.0,17.00

In [153]:
data.isna().sum()

availability     0
location         1
size            16
total_sqft       0
bath            73
price            0
dtype: int64

In [154]:
data.dropna(subset=['location'], inplace=True)               #dropping the one row where location is 0

In [155]:
data.isna().sum()

availability     0
location         0
size            16
total_sqft       0
bath            73
price            0
dtype: int64

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üõÅ Handling Missing `bath` Values

We observed that the **`bath`** (number of bathrooms) column has **73 missing values**.  
To handle this, we calculate the **median number of bathrooms** and fill all missing values with this median, ensuring the data remains consistent and reasonable.

---

### üî∑ Approach
‚úÖ Find median of `bath`.  
‚úÖ Replace all `NaN` in `bath'].fillna(median_bath)

In [157]:
data['bath'] = data['bath'].apply(lambda x: data['bath'].median() if pd.isna(x) else x )

In [158]:
data.isna().sum()

availability     0
location         0
size            16
total_sqft       0
bath             0
price            0
dtype: int64

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üõèÔ∏è Converting Bedroom Strings to Numbers

We will convert the **string values** in the `bedrooms` column into **numeric values**,  
and handle any **null values** in the process to keep the data clean and usable.

In [160]:
data['size'] = data['size'].apply(lambda x: None if pd.isna(x) else int(x.split()[0]))

In [161]:
#converting all null values to median of size values
data['size'] = data['size'].apply(lambda x: data['size'].median() if pd.isna(x) else x )

In [162]:
v = list(data['total_sqft'].unique())
for i in v:
    try:
        float(i)
    except:
        print(i)

2100 - 2850
3010 - 3410
2957 - 3450
3067 - 8156
1042 - 1105
1145 - 1340
1015 - 1540
1520 - 1740
34.46Sq. Meter
1195 - 1440
1200 - 2400
4125Perch
1120 - 1145
4400 - 6640
3090 - 5002
4400 - 6800
1160 - 1195
1000Sq. Meter
4000 - 5249
1115 - 1130
1100Sq. Yards
520 - 645
1000 - 1285
3606 - 5091
650 - 665
633 - 666
5.31Acres
30Acres
1445 - 1455
884 - 1116
850 - 1093
1440 - 1884
716Sq. Meter
547.34 - 827.31
580 - 650
3425 - 3435
1804 - 2273
3630 - 3800
660 - 670
1500Sq. Meter
620 - 933
142.61Sq. Meter
2695 - 2940
2000 - 5634
1574Sq. Yards
3450 - 3472
1250 - 1305
670 - 980
1005.03 - 1252.49
1004 - 1204
361.33Sq. Yards
645 - 936
2710 - 3360
2249.81 - 4112.19
3436 - 3643
2830 - 2882
596 - 804
1255 - 1863
1300 - 1405
1500 - 2400
117Sq. Yards
934 - 1437
980 - 1030
1564 - 1850
1446 - 1506
1070 - 1315
3040Sq. Meter
500Sq. Yards
2806 - 3019
613 - 648
1430 - 1630
704 - 730
1482 - 1846
2805 - 3565
3293 - 5314
1210 - 1477
3369 - 3464
1125 - 1500
167Sq. Meter
1076 - 1199
381 - 535
2215 - 2475
524 - 894
540 - 670
315Sq. Yards
1650 - 2538
2725 - 3250
1974 - 2171
888 - 1290
1360 - 1890
2466 - 2856
660 - 700
385 - 440
2100 - 5405
770 - 841
3Cents
1310 - 1615
1782 - 2000
188.89Sq. Yards
1469 - 1766
204Sq. Meter
1255 - 1350
870 - 1080
45Sq. Yards
133.3Sq. Yards
2580 - 2591
2563 - 2733
605 - 624
4260 - 4408
1349 - 3324
78.03Sq. Meter
3300 - 3335
1180 - 1630
1365 - 1700
3500 - 3600
122Sq. Yards
84.53Sq. Meter
2.09Acres
1482 - 1684
981 - 1249
1100 - 1225
1565 - 1595
24Guntha
1270 - 1275
840 - 1010
697Sq. Meter
655 - 742
800 - 2660
1408 - 1455
4050 - 4075
942 - 1117
1750 - 2640
1390 - 1600
598 - 958
1500Cents
132Sq. Yards
1010 - 1300
2Acres
3103 - 3890
1450 - 1950
1100Sq. Meter
15Acres
1450 - 1595
763 - 805
3307 - 3464
1.26Acres
620 - 934
2462 - 2467
540 - 740
1618 - 1929
3508 - 4201
4900 - 4940
1610 - 1880
755 - 770
664 - 722
151.11Sq. Yards
700 - 900
596 - 861
1925 - 2680
615 - 985
540 - 565
750 - 800
1660 - 1805
1410 - 1710
1079 - 1183
2800 - 2870
1230 - 1290
943 - 1220
2041 - 2090
527 - 639
1Grounds
1160 - 1315
706 - 716
2940Sq. Yards
1791 - 4000
45.06Sq. Meter
799 - 803
2470 - 2790
783 - 943
4500 - 5540
1255 - 1375
610 - 615
854 - 960
2650 - 2990
1.25Acres
86.72Sq. Meter
1230 - 1490
660 - 780
1150 - 1194
684 - 810
1200 - 1800
1510 - 1670
1550 - 1590
1235 - 1410
3484 - 3550
38Guntha
929 - 1078
2150 - 2225
1520 - 1759
629 - 1026
1215 - 1495
6Acres
1140 - 1250
2400 - 2600
1052 - 1322
5666 - 5669
712 - 938
1783 - 1878
120Sq. Yards
24Sq. Meter
2528 - 3188
650 - 760
1400 - 1421
4000 - 4450
142.84Sq. Meter
300Sq. Yards
2204 - 2362
1437 - 1629
850 - 1060
1200 - 1470
1020 - 1130
1133 - 1384

In [163]:
#as we can see there are lot of meters and yards values so we have to handle that as well or else it will give error
'142.84Sq. Meter'.split('Sq')

['142.84', '. Meter']

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üìê Handling `total_sqft` Variants

We process the `total_sqft` column to handle different formats:
- If value is in **Square Meters**, convert to square feet (`√ó 10.764`).
- If value is in **Square Yards**, convert to square feet (`√ó 9`).
- If value is a **range** (e.g., `1000 - 1200`), take the average.
- If none of these, return the original value.

Finally, we apply this function to `total_sqft` and store it as a NumPy array for further use:
```python
b = np.array(data['total_sqft'].apply(convertrange))

In [165]:
def convertrange(x):
    if 'Meter' in x:
        temp = x.split('Sq')
        return float(temp[0])*10.764
    elif 'Yard' in x:
        temp = x.split('Sq')
        return float(temp[0])*9
    else:
        temp = x.split(' - ')
        if len(temp)==2:
            mea = (float(temp[0]) + float(temp[1]))/2
            return mea
        else:
            return x

b = np.array(data['total_sqft'].apply(convertrange))

In [166]:
for i in b:
    try:
        float(i)
    except:
        print(i)

4125Perch
5.31Acres
30Acres
3Cents
2.09Acres
24Guntha
1500Cents
2Acres
15Acres
1.26Acres
1Grounds
1.25Acres
38Guntha
6Acres

In [167]:
'4125Perch'.split('P')

['4125', 'erch']

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üìê Enhanced `total_sqft` Conversion

We update the function to handle additional area units in `total_sqft`:
- Convert **Meter ‚Üí Sqft** (`√ó 10.764`)
- Convert **Yard ‚Üí Sqft** (`√ó 9`)
- Convert **Perch ‚Üí Sqft** (`√ó 272.25`)
- Convert **Acre ‚Üí Sqft** (`√ó 43,560`)
- Convert **Guntha ‚Üí Sqft** (`√ó 1,089`)
- Convert **Ground ‚Üí Sqft** (`√ó 2,400`)
- Convert **Cent ‚Üí Sqft** (`√ó 435.6`)
- If value is a range (`1000 - 1200`), take the average.
- Else, convert directly to float.

Finally, we apply the updated function to `total_sqft`:
```python
data['total_sqft'] = data['total_sqft'].apply(convertfinalrange)

In [169]:
#we still have to handle Guntha, Acres, Perch and Rounds and Cents values
#thus we make modifications in the function convertrange(x) and call it convertrangefinal(x):
def convertfinalrange(x):
    if 'Meter' in x:
        temp = x.split('Sq')
        return float(temp[0])*10.764
    elif 'Yard' in x:
        temp = x.split('Sq')
        return float(temp[0])*9
    elif 'Perch' in x:
        temp = x.split('P')
        return float(temp[0])*272.25
    elif 'Acre' in x:
        temp = x.split('A')
        return float(temp[0])*43560
    elif 'Guntha' in x:
        temp = x.split('G')
        return float(temp[0])*1089
    elif 'Ground' in x:
        temp = x.split('G')
        return float(temp[0])*2400
    elif 'Cent' in x:
        temp = x.split('C')
        return float(temp[0])*435.6
    else:
        temp = x.split(' - ')
        if len(temp)==2:
            mea = (float(temp[0]) + float(temp[1]))/2
            return mea
        else:
            return float(x)

data['total_sqft'] = data['total_sqft'].apply(convertfinalrange)

In [170]:
data.rename(columns={'size':'bhk'},inplace=True)  #changing name of the column

In [171]:
data['price_per_sqfeet'] = (data['price']*100000)/data['total_sqft']    #creating new feature price_per_sqfeet

In [172]:
data

,availability,location,bhk,total_sqft,bath,price,price_per_sqfeet
0,0,Electronic City Phase II,2.0,1056.0,2.0,39.07,3699.810606
1,1,Chikka Tirupathi,4.0,2600.0,5.0,120.00,4615.384615
2,1,Uttarahalli,3.0,1440.0,2.0,62.00,4305.555556
3,1,Lingadheeranahalli,3.0,1521.0,3.0,95.00,6245.890861
4,1,Kothanur,2.0,1200.0,2.0,51.00,4250.000000
...,...,...,...,...,...,...,...
13315,1,Whitefield,5.0,3453.0,4.0,231.00,6689.834926
13316,1,Richards Town,4.0,3600.0,5.0,400.00,11111.111111
13317,1,Raja Rajeshwari Nagar,2.0,1141.0,2.0,60.00,5258.545136
13318,0,Padmanabhanagar,4.0,4689.0,4.0,488.00,10407.336319
13319,1,Doddathoguru,1.0,550.0,1.0,17.00,3090.909091

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üìç Handling Rare Locations

We clean and group the `location` feature:
- Remove extra spaces from location names.
- Count occurrences of each location.
- Identify locations with ‚â§10 occurrences.
- Replace those rare locations with **`other`** to reduce noise and sparsity in the data.

Finally, check the updated `location` distribution.

In [174]:
data['location']=data['location'].apply(lambda x:x.strip())
locations_count = data['location'].value_counts()
locations_count_less_than_10 = locations_count[locations_count<=10]
data['location']=data['location'].apply(lambda x : 'other' if x in locations_count_less_than_10 else x)
data['location'].value_counts()

location
other                 2885
Whitefield             541
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

In [175]:
data.describe()

,availability,bhk,total_sqft,bath,price,price_per_sqfeet
count,13319.000000,13319.000000,1.331900e+04,13319.000000,13319.000000,1.331900e+04
mean,0.794354,2.803964,1.911621e+03,2.688790,112.567621,7.902289e+03
std,0.404188,1.294261,1.727755e+04,1.338801,148.977089,1.062532e+05
min,0.000000,1.000000,1.000000e+00,1.000000,8.000000,2.257423e+00
25%,1.000000,2.000000,1.100000e+03,2.000000,50.000000,4.262295e+03
50%,1.000000,3.000000,1.277000e+03,2.000000,72.000000,5.428571e+03
75%,1.000000,3.000000,1.680000e+03,3.000000,120.000000,7.312469e+03
max,1.000000,43.000000,1.306800e+06,40.000000,3600.000000,1.200000e+07

In [176]:
data['total_sqftbybhk'] = data['total_sqft']/data['bhk']

In [177]:
data.describe()

,availability,bhk,total_sqft,bath,price,price_per_sqfeet,total_sqftbybhk
count,13319.000000,13319.000000,1.331900e+04,13319.000000,13319.000000,1.331900e+04,13319.000000
mean,0.794354,2.803964,1.911621e+03,2.688790,112.567621,7.902289e+03,701.851693
std,0.404188,1.294261,1.727755e+04,1.338801,148.977089,1.062532e+05,6559.412812
min,0.000000,1.000000,1.000000e+00,1.000000,8.000000,2.257423e+00,0.250000
25%,1.000000,2.000000,1.100000e+03,2.000000,50.000000,4.262295e+03,473.333333
50%,1.000000,3.000000,1.277000e+03,2.000000,72.000000,5.428571e+03,552.500000
75%,1.000000,3.000000,1.680000e+03,3.000000,120.000000,7.312469e+03,625.000000
max,1.000000,43.000000,1.306800e+06,40.000000,3600.000000,1.200000e+07,653400.000000

In [178]:
#as we can see that min value of total_sqftbybath feature is 0.25 which means there is a flat where there is only 0.25 sqft per bhk which is practically
# not possible, so we will be eliminating all rows in which total_sqftbybhk is lesser than 300 to make it feasible
data = data[data['total_sqftbybhk']>=300]

In [179]:
data.describe()

,availability,bhk,total_sqft,bath,price,price_per_sqfeet,total_sqftbybhk
count,12571.000000,12571.000000,1.257100e+04,12571.000000,12571.000000,12571.000000,12571.000000
mean,0.784663,2.653011,1.967633e+03,2.560735,111.485946,6294.519343,732.178531
std,0.411072,0.981306,1.778227e+04,1.081720,151.971761,4163.403235,6750.529416
min,0.000000,1.000000,3.000000e+02,1.000000,8.440000,2.257423,300.000000
25%,1.000000,2.000000,1.116000e+03,2.000000,49.000000,4203.005984,492.000000
50%,1.000000,3.000000,1.300000e+03,2.000000,70.000000,5291.005291,562.500000
75%,1.000000,3.000000,1.703500e+03,3.000000,115.000000,6916.666667,631.000000
max,1.000000,16.000000,1.306800e+06,16.000000,3600.000000,176470.588235,653400.000000

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üìä Removing `total_sqft` Outliers

We clean outliers in `price_per_sqfeet` by:
- Grouping the data by **location**.
- For each location‚Äôs group:
  - Compute **mean (m)** and **standard deviation (std)** of `price_per_sqfeet`.
  - Keep only rows where `price_per_sqfeet` ‚àà [m - std, m + std].
- Concatenate all cleaned groups into a new DataFrame.

This ensures that for each location, only reasonable `price_per_sqfeet` values (within one standard deviation) are kept, reducing the impact of outliers.

In [181]:
#since we are getting values like 1.306800e+06 in total_sqft we are removing outliers on price per sqfeet parameter
def removesqftoutliers(data):
    data_output = pd.DataFrame()
    for key,sub_df in data.groupby('location'):
        m = np.mean(sub_df.price_per_sqfeet)
        std = np.std(sub_df.price_per_sqfeet)
        gen_df = sub_df[(sub_df['price_per_sqfeet']> (m-std)) & (sub_df['price_per_sqfeet']<= (m+std))]
        data_output = pd.concat([data_output,gen_df], ignore_index=True)
    return data_output
data = removesqftoutliers(data)

In [182]:
data.describe()

,availability,bhk,total_sqft,bath,price,price_per_sqfeet,total_sqftbybhk
count,10329.000000,10329.000000,10329.000000,10329.000000,10329.000000,10329.000000,10329.000000
mean,0.787104,2.575951,1577.351669,2.472650,91.422580,5659.116082,606.398904
std,0.409374,0.898977,6483.850090,0.980667,86.481773,2266.831229,2150.181414
min,0.000000,1.000000,300.000000,1.000000,10.000000,33.210897,300.000000
25%,1.000000,2.000000,1110.000000,2.000000,49.000000,4242.424242,496.666667
50%,1.000000,2.000000,1286.000000,2.000000,67.000000,5175.983437,562.500000
75%,1.000000,3.000000,1650.000000,3.000000,100.000000,6434.782609,625.500000
max,1.000000,16.000000,653400.000000,16.000000,2200.000000,24509.803922,217800.000000

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üè† Exploring BHK Outlier Stats

We group the data by **location** and then by **BHK (number of bedrooms)**  
to compute summary statistics (`mean`, `std`, `count`) of `price_per_sqfeet`  
for each BHK within each location.  

This step is for inspection only ‚Äî we print these stats to better understand the distribution  
before applying outlier removal in the next step.

In [184]:
def removebhkoutliers1(df):
    exclude_indexes = np.array([])
    for location,locationdfs in df.groupby('location'):
        bhk_stats={}
        for bhk,bhkdf in locationdfs.groupby('bhk'):
            bhk_stats[bhk] = {'mean' : np.mean(bhkdf.price_per_sqfeet), 'std' : np.std(bhkdf.price_per_sqfeet), 'count' : bhkdf.shape[0]}
        print(location,bhk_stats)
removebhkoutliers1(data)

1st Block Jayanagar {2.0: {'mean': 11983.805668016194, 'std': 0.0, 'count': 1}, 3.0: {'mean': 11756.16905248807, 'std': 701.6243657657865, 'count': 3}, 4.0: {'mean': 15018.711280365416, 'std': 1.2278182423353805, 'count': 3}}
1st Phase JP Nagar {1.0: {'mean': 6726.570336093429, 'std': 774.1893837124771, 'count': 2}, 2.0: {'mean': 7931.806799837383, 'std': 1534.1422783514054, 'count': 8}, 3.0: {'mean': 9151.192151725822, 'std': 1054.731726021645, 'count': 7}, 4.0: {'mean': 7537.92218148637, 'std': 1607.0591069513537, 'count': 3}, 5.0: {'mean': 5666.666666666667, 'std': 0.0, 'count': 1}}
2nd Phase Judicial Layout {2.0: {'mean': 3851.8518518518517, 'std': 497.593660834978, 'count': 3}, 3.0: {'mean': 3620.93991671624, 'std': 241.87983343248052, 'count': 5}}
2nd Stage Nagarbhavi {4.0: {'mean': 15891.203703703704, 'std': 1668.9846920398563, 'count': 4}, 6.0: {'mean': 16891.666666666668, 'std': 1858.333333333333, 'count': 2}}
5th Block Hbr Layout {2.0: {'mean': 4755.410708222867, 'std': 374.06419031565235, 'count': 3}, 3.0: {'mean': 5511.811023622047, 'std': 0.0, 'count': 1}, 5.0: {'mean': 3611.1111111111113, 'std': 0.0, 'count': 1}, 6.0: {'mean': 5882.35294117647, 'std': 0.0, 'count': 1}}
5th Phase JP Nagar {1.0: {'mean': 4628.623188405797, 'std': 371.376811594203, 'count': 2}, 2.0: {'mean': 5067.359785883266, 'std': 453.24956183513086, 'count': 17}, 3.0: {'mean': 5112.892626961968, 'std': 526.8794907246175, 'count': 8}, 5.0: {'mean': 4325.0, 'std': 75.0, 'count': 2}}
6th Phase JP Nagar {2.0: {'mean': 5932.976565810137, 'std': 671.9347030151997, 'count': 8}, 3.0: {'mean': 8403.2863080867, 'std': 1515.4146231166221, 'count': 5}, 4.0: {'mean': 7704.160246533128, 'std': 0.0, 'count': 1}}
7th Phase JP Nagar {1.0: {'mean': 6133.333333333334, 'std': 133.33333333333348, 'count': 2}, 2.0: {'mean': 6234.7047787315405, 'std': 1028.5484307923923, 'count': 41}, 3.0: {'mean': 6612.861682598103, 'std': 1181.6582893458344, 'count': 57}, 4.0: {'mean': 6028.22068063778, 'std': 1482.7661351832348, 'count': 2}}
8th Phase JP Nagar {1.0: {'mean': 6357.427937915743, 'std': 267.1694064501245, 'count': 4}, 2.0: {'mean': 4324.406715739656, 'std': 1131.8308808521078, 'count': 22}, 3.0: {'mean': 4293.744876160689, 'std': 723.4267508470377, 'count': 17}, 4.0: {'mean': 4539.6147062813725, 'std': 195.35428340140427, 'count': 3}, 5.0: {'mean': 4335.260115606937, 'std': 0.0, 'count': 1}}
9th Phase JP Nagar {1.0: {'mean': 3333.3333333333335, 'std': 0.0, 'count': 1}, 2.0: {'mean': 4653.05138390364, 'std': 834.4408302683472, 'count': 20}, 3.0: {'mean': 4518.339436369508, 'std': 790.2476753262926, 'count': 9}, 4.0: {'mean': 5336.8421052631575, 'std': 800.5999597024291, 'count': 3}}
AECS Layout {2.0: {'mean': 4921.300339526721, 'std': 619.6355499375203, 'count': 7}, 3.0: {'mean': 4500.0, 'std': 0.0, 'count': 1}}
Abbigere {1.0: {'mean': 3310.9205535075066, 'std': 610.6480739434737, 'count': 2}, 2.0: {'mean': 4058.165803016323, 'std': 62.23518728011486, 'count': 13}, 3.0: {'mean': 3571.4285714285716, 'std': 0.0, 'count': 1}, 6.0: {'mean': 3165.4545454545455, 'std': 74.5454545454545, 'count': 2}, 8.0: {'mean': 5000.0, 'std': 0.0, 'count': 1}}
Akshaya Nagar {2.0: {'mean': 4781.22783734999, 'std': 453.10974836521865, 'count': 17}, 3.0: {'mean': 5294.361032273932, 'std': 513.4396107693667, 'count': 30}}
Ambalipura {1.0: {'mean': 5690.909090909091, 'std': 0.0, 'count': 1}, 2.0: {'mean': 5886.737386783397, 'std': 736.0640513407117, 'count': 10}, 3.0: {'mean': 6331.134555298749, 'std': 569.718562351169, 'count': 7}, 4.0: {'mean': 5503.386809269163, 'std': 339.75044563279835, 'count': 2}}
Ambedkar Nagar {2.0: {'mean': 6454.091928430547, 'std': 182.0843219299883, 'count': 5}, 3.0: {'mean': 6572.746532916982, 'std': 422.13464472691317, 'count': 19}, 4.0: {'mean': 7684.086312870249, 'std': 531.2111375546801, 'count': 2}}
Amruthahalli {1.0: {'mean': 4020.618556701031, 'std': 0.0, 'count': 1}, 2.0: {'mean': 4953.838379629301, 'std': 823.6966143070669, 'count': 12}, 3.0: {'mean': 5574.846418310635, 'std': 1077.4444900329127, 'count': 7}}
Anandapura {2.0: {'mean': 4335.741837049203, 'std': 710.6695705040866, 'count': 14}, 3.0: {'mean': 4376.900862764794, 'std': 811.4741024839058, 'count': 5}, 4.0: {'mean': 5145.797598627787, 'std': 0.0, 'count': 1}}
Ananth Nagar {1.0: {'mean': 2800.0, 'std': 0.0, 'count': 4}, 2.0: {'mean': 3015.4242497371583, 'std': 491.5389870277813, 'count': 19}, 3.0: {'mean': 3239.9055148973916, 'std': 333.6052126335633, 'count': 3}}
Anekal {1.0: {'mean': 3307.549188983317, 'std': 602.8526665064047, 'count': 6}, 2.0: {'mean': 3418.531131818201, 'std': 543.1514964904059, 'count': 22}, 3.0: {'mean': 4075.680581158921, 'std': 340.19143395777115, 'count': 4}, 4.0: {'mean': 3000.0, 'std': 0.0, 'count': 1}}
Anjanapura {2.0: {'mean': 3451.5654968214635, 'std': 402.7964034804156, 'count': 7}, 3.0: {'mean': 4783.11324361657, 'std': 2019.9576386770505, 'count': 4}, 4.0: {'mean': 3852.102102102102, 'std': 796.5465465465463, 'count': 2}}
Ardendale {2.0: {'mean': 5596.405228758171, 'std': 122.54901960784309, 'count': 2}, 3.0: {'mean': 5378.1844320453965, 'std': 324.88136834734956, 'count': 10}, 4.0: {'mean': 6445.687085352693, 'std': 663.0498079730814, 'count': 7}}
Arekere {1.0: {'mean': 4666.666666666667, 'std': 0.0, 'count': 1}, 2.0: {'mean': 4712.981746987513, 'std': 543.1724803184048, 'count': 7}, 3.0: {'mean': 5822.747277384037, 'std': 695.6480303741811, 'count': 3}, 4.0: {'mean': 5239.852398523985, 'std': 0.0, 'count': 1}}
Attibele {1.0: {'mean': 2823.0512983538965, 'std': 440.885126183788, 'count': 18}, 2.0: {'mean': 3204.1609520225234, 'std': 617.2070386969107, 'count': 12}, 3.0: {'mean': 4330.95861895704, 'std': 1307.8696742735906, 'count': 4}, 4.0: {'mean': 3840.959409594096, 'std': 540.9594095940961, 'count': 2}}
BEML Layout {2.0: {'mean': 5944.048212904286, 'std': 1628.8084083258766, 'count': 6}, 3.0: {'mean': 4250.0, 'std': 0.0, 'count': 4}, 5.0: {'mean': 9375.0, 'std': 0.0, 'count': 1}}
BTM 2nd Stage {2.0: {'mean': 5621.791028153005, 'std': 795.7682556051348, 'count': 14}, 3.0: {'mean': 10282.08598547458, 'std': 3831.770494859885, 'count': 9}, 5.0: {'mean': 13913.04347826087, 'std': 0.0, 'count': 1}}
BTM Layout {1.0: {'mean': 4444.444444444444, 'std': 0.0, 'count': 1}, 2.0: {'mean': 5073.776447337828, 'std': 424.90705275056126, 'count': 4}, 3.0: {'mean': 5685.2029893641175, 'std': 881.6401846985812, 'count': 7}, 6.0: {'mean': 5000.0, 'std': 0.0, 'count': 1}}
Babusapalaya {2.0: {'mean': 3799.9594889549185, 'std': 423.8304869618115, 'count': 11}, 3.0: {'mean': 3669.941030877054, 'std': 601.932707346431, 'count': 10}}
Badavala Nagar {2.0: {'mean': 6357.9277864992155, 'std': 0.0, 'count': 2}, 3.0: {'mean': 6279.828480978357, 'std': 42.27887875035828, 'count': 7}}
Balagere {1.0: {'mean': 5865.01000449379, 'std': 539.315075028032, 'count': 9}, 2.0: {'mean': 6191.495143186286, 'std': 543.3822583816924, 'count': 28}}
Banashankari {1.0: {'mean': 8333.333333333334, 'std': 0.0, 'count': 2}, 2.0: {'mean': 5038.253269278571, 'std': 1168.5163463486565, 'count': 31}, 3.0: {'mean': 5817.282245183152, 'std': 1663.833391137828, 'count': 29}, 4.0: {'mean': 3800.0, 'std': 0.0, 'count': 1}}
Banashankari Stage II {2.0: {'mean': 8701.636799298034, 'std': 1030.287972433991, 'count': 4}, 3.0: {'mean': 10723.280423280425, 'std': 4231.90962768462, 'count': 6}, 4.0: {'mean': 12500.0, 'std': 0.0, 'count': 1}, 5.0: {'mean': 18214.285714285714, 'std': 3035.7142857142853, 'count': 2}}
Banashankari Stage III {2.0: {'mean': 5430.250387687147, 'std': 1871.4365421808766, 'count': 4}, 3.0: {'mean': 5330.43635317069, 'std': 1014.1370099612311, 'count': 10}, 4.0: {'mean': 7333.333333333333, 'std': 2054.8046676563254, 'count': 3}, 6.0: {'mean': 5000.0, 'std': 0.0, 'count': 1}}
Banashankari Stage V {2.0: {'mean': 3983.4541062801936, 'std': 527.4154589371976, 'count': 2}, 3.0: {'mean': 3581.57134026118, 'std': 544.8260330690271, 'count': 9}}
Banashankari Stage VI {2.0: {'mean': 5072.0195454829345, 'std': 22.81429179660186, 'count': 3}, 3.0: {'mean': 5006.925310122253, 'std': 23.924063833179062, 'count': 3}, 4.0: {'mean': 5041.801948051948, 'std': 2237.063491984229, 'count': 4}}
Banaswadi {1.0: {'mean': 6641.366223908918, 'std': 0.0, 'count': 1}, 2.0: {'mean': 5110.715347907356, 'std': 582.5694084547944, 'count': 10}, 3.0: {'mean': 4656.25, 'std': 0.0, 'count': 1}, 5.0: {'mean': 7356.8050446663165, 'std': 0.0, 'count': 1}}
Banjara Layout {2.0: {'mean': 6635.496110794916, 'std': 905.9365352849989, 'count': 3}, 3.0: {'mean': 5600.0, 'std': 0.0, 'count': 1}}
Bannerghatta {2.0: {'mean': 6630.037324398989, 'std': 872.6962508901346, 'count': 4}, 3.0: {'mean': 7565.595658950089, 'std': 786.4254337865935, 'count': 4}, 4.0: {'mean': 8398.03739052883, 'std': 97.90458840399697, 'count': 2}}
Bannerghatta Road {1.0: {'mean': 4932.455648926237, 'std': 741.987966876004, 'count': 5}, 2.0: {'mean': 5156.722324231199, 'std': 951.8519337869209, 'count': 59}, 3.0: {'mean': 5384.498056381959, 'std': 1219.6689012468119, 'count': 71}, 4.0: {'mean': 6324.596778404046, 'std': 1922.544313563572, 'count': 9}, 5.0: {'mean': 5851.851851851852, 'std': 0.0, 'count': 1}, 6.0: {'mean': 8108.108108108108, 'std': 0.0, 'count': 1}}
Basavangudi {2.0: {'mean': 9700.42512839123, 'std': 665.8646001174526, 'count': 6}, 3.0: {'mean': 9210.853069429275, 'std': 904.4272935920624, 'count': 10}, 4.0: {'mean': 10095.80105992662, 'std': 95.80105992662084, 'count': 2}}
Basaveshwara Nagar {2.0: {'mean': 6750.0, 'std': 552.7707983925667, 'count': 5}, 3.0: {'mean': 7834.767884859602, 'std': 59.968957245661386, 'count': 2}, 5.0: {'mean': 11069.444444444445, 'std': 1847.2222222222217, 'count': 2}}
Battarahalli {2.0: {'mean': 4345.7243068848575, 'std': 823.6340914029164, 'count': 9}, 3.0: {'mean': 5015.40017552159, 'std': 337.7428143761158, 'count': 8}}
Begur {2.0: {'mean': 4961.668185533498, 'std': 39.10751993914706, 'count': 3}, 3.0: {'mean': 4510.654979278204, 'std': 599.1143016556773, 'count': 9}, 4.0: {'mean': 3906.25, 'std': 0.0, 'count': 1}}
Begur Road {2.0: {'mean': 3624.166282880882, 'std': 262.3730178311292, 'count': 35}, 3.0: {'mean': 3684.8720181009558, 'std': 378.82522322146735, 'count': 28}, 4.0: {'mean': 4787.9894501927365, 'std': 0.0, 'count': 1}}
Bellandur {1.0: {'mean': 4210.526315789473, 'std': 0.0, 'count': 1}, 2.0: {'mean': 5116.644099551324, 'std': 1016.3979870126873, 'count': 52}, 3.0: {'mean': 5647.571810653258, 'std': 1127.9673046785176, 'count': 31}, 4.0: {'mean': 6759.122130530177, 'std': 845.9579630611066, 'count': 4}}
Benson Town {2.0: {'mean': 12686.709975197631, 'std': 3611.8164390019756, 'count': 4}, 3.0: {'mean': 14313.731148045554, 'std': 2420.56421489562, 'count': 3}, 4.0: {'mean': 14856.497304850036, 'std': 282.5062734599014, 'count': 2}}
Bharathi Nagar {2.0: {'mean': 4813.740209190311, 'std': 471.43026983759114, 'count': 8}, 3.0: {'mean': 4200.120192307692, 'std': 0.0, 'count': 1}}
Bhoganhalli {2.0: {'mean': 5417.416718889453, 'std': 285.36806332317167, 'count': 12}, 3.0: {'mean': 6125.4200445093, 'std': 899.1112373435706, 'count': 13}, 4.0: {'mean': 5777.756745789307, 'std': 871.3161320532748, 'count': 11}}
Billekahalli {2.0: {'mean': 5962.1264143650205, 'std': 952.8379048046246, 'count': 7}, 3.0: {'mean': 6179.829109009818, 'std': 1029.8742088847782, 'count': 6}}
Binny Pete {1.0: {'mean': 8034.164957849169, 'std': 901.878395083154, 'count': 4}, 2.0: {'mean': 7933.924709828325, 'std': 1003.8042279006136, 'count': 2}, 3.0: {'mean': 8471.722137179819, 'std': 951.1093605219069, 'count': 6}, 4.0: {'mean': 8382.135462880804, 'std': 1141.674060928719, 'count': 2}}
Bisuvanahalli {2.0: {'mean': 3863.8012733035357, 'std': 405.2872025065846, 'count': 12}, 3.0: {'mean': 4006.5825354643744, 'std': 468.023038908377, 'count': 31}}
Bommanahalli {1.0: {'mean': 4302.184466019417, 'std': 552.1844660194174, 'count': 2}, 2.0: {'mean': 4544.41960101665, 'std': 569.7400942075514, 'count': 9}, 3.0: {'mean': 4254.328104328105, 'std': 505.922183603648, 'count': 4}, 4.0: {'mean': 4047.6190476190477, 'std': 0.0, 'count': 1}, 8.0: {'mean': 4666.666666666667, 'std': 0.0, 'count': 1}}
Bommasandra {2.0: {'mean': 3813.947572153106, 'std': 244.23665886444502, 'count': 19}, 3.0: {'mean': 3815.8530659565145, 'std': 403.8116627539011, 'count': 11}}
Bommasandra Industrial Area {2.0: {'mean': 2887.892987573868, 'std': 0.47920744469383775, 'count': 11}, 3.0: {'mean': 2863.160206574431, 'std': 59.9654742104211, 'count': 7}}
Bommenahalli {3.0: {'mean': 5321.230431289239, 'std': 4110.403617945166, 'count': 5}, 4.0: {'mean': 8564.836466843257, 'std': 717.6221010374835, 'count': 6}}
Brookefield {2.0: {'mean': 5837.492693390221, 'std': 903.6255944977522, 'count': 19}, 3.0: {'mean': 5795.407173862258, 'std': 1201.0625471599164, 'count': 13}, 4.0: {'mean': 6680.252598242926, 'std': 2089.3417875296827, 'count': 7}, 5.0: {'mean': 8974.358974358975, 'std': 0.0, 'count': 1}}
Budigere {1.0: {'mean': 5155.722891566265, 'std': 166.41859289793305, 'count': 4}, 2.0: {'mean': 5034.160717791254, 'std': 199.14597741069483, 'count': 23}, 3.0: {'mean': 4995.782145950289, 'std': 304.7321376982579, 'count': 22}}
CV Raman Nagar {1.0: {'mean': 7092.198581560284, 'std': 0.0, 'count': 1}, 2.0: {'mean': 5155.724160108177, 'std': 750.6157631590067, 'count': 18}, 3.0: {'mean': 5069.1182815641005, 'std': 895.7302193450796, 'count': 8}}
Chamrajpet {1.0: {'mean': 16831.68316831683, 'std': 0.0, 'count': 1}, 2.0: {'mean': 9792.423102012144, 'std': 3818.3998448404645, 'count': 5}, 3.0: {'mean': 7141.805995187703, 'std': 751.0857983228121, 'count': 3}, 4.0: {'mean': 10827.574839290468, 'std': 1880.2064182378372, 'count': 2}}
Chandapura {1.0: {'mean': 2520.6090114704184, 'std': 140.15700556082749, 'count': 19}, 2.0: {'mean': 2822.6938747446193, 'std': 410.55761448180084, 'count': 37}, 3.0: {'mean': 2853.1236984866746, 'std': 427.6538083676819, 'count': 26}, 4.0: {'mean': 3498.942358540455, 'std': 0.0, 'count': 1}}
Channasandra {2.0: {'mean': 3613.5088756107493, 'std': 502.5086800433043, 'count': 24}, 3.0: {'mean': 4500.644242719408, 'std': 1005.213241509808, 'count': 9}, 4.0: {'mean': 5963.333333333333, 'std': 0.0, 'count': 1}, 6.0: {'mean': 4285.714285714285, 'std': 0.0, 'count': 1}}
Chikka Tirupathi {3.0: {'mean': 4090.4654941407116, 'std': 246.87536752515462, 'count': 4}, 4.0: {'mean': 4568.837506464278, 'std': 449.90860011916783, 'count': 7}}
Chikkabanavar {2.0: {'mean': 3979.526682999282, 'std': 296.21104114438486, 'count': 3}, 3.0: {'mean': 4242.424242424242, 'std': 757.5757575757575, 'count': 2}, 4.0: {'mean': 3252.032520325203, 'std': 0.0, 'count': 1}, 5.0: {'mean': 3645.833333333333, 'std': 395.83333333333326, 'count': 2}, 8.0: {'mean': 2750.0, 'std': 0.0, 'count': 1}}
Chikkalasandra {2.0: {'mean': 4680.665935758178, 'std': 906.7207027292567, 'count': 14}, 3.0: {'mean': 4209.541795721919, 'std': 468.54274526277595, 'count': 14}}
Choodasandra {2.0: {'mean': 4782.163531612381, 'std': 528.754856051744, 'count': 12}, 3.0: {'mean': 4993.1936034011, 'std': 599.6867241072546, 'count': 10}, 4.0: {'mean': 8645.533141210375, 'std': 0.0, 'count': 1}}
Cooke Town {2.0: {'mean': 9450.335685771604, 'std': 1592.310446826406, 'count': 3}, 3.0: {'mean': 11852.598087462115, 'std': 1661.385526814624, 'count': 4}, 4.0: {'mean': 11016.71535215839, 'std': 375.6897111327489, 'count': 2}}
Cox Town {2.0: {'mean': 8230.365020192607, 'std': 2084.870283562963, 'count': 5}, 3.0: {'mean': 7780.757079649942, 'std': 1186.6163940265649, 'count': 4}}
Cunningham Road {3.0: {'mean': 19562.042390433755, 'std': 1371.647354515775, 'count': 8}, 4.0: {'mean': 22399.47110781565, 'std': 2068.0898222124456, 'count': 3}}
Dasanapura {1.0: {'mean': 5790.960451977401, 'std': 0.0, 'count': 1}, 2.0: {'mean': 5113.831187981814, 'std': 479.0067310357899, 'count': 7}, 3.0: {'mean': 5032.659409020218, 'std': 255.05443234836684, 'count': 2}}
Dasarahalli {2.0: {'mean': 5117.938928017428, 'std': 689.5131286166418, 'count': 6}, 3.0: {'mean': 5324.248120300752, 'std': 390.03759398496277, 'count': 2}}
Devanahalli {1.0: {'mean': 4606.9148770709035, 'std': 456.2054151733658, 'count': 7}, 2.0: {'mean': 4952.787098845229, 'std': 492.9480389583671, 'count': 13}, 3.0: {'mean': 4854.157127212771, 'std': 443.46029508605704, 'count': 13}, 4.0: {'mean': 5981.308411214954, 'std': 0.0, 'count': 1}, 5.0: {'mean': 4166.666666666667, 'std': 0.0, 'count': 1}}
Devarachikkanahalli {1.0: {'mean': 3902.439024390244, 'std': 0.0, 'count': 1}, 2.0: {'mean': 4326.739586439991, 'std': 1082.6324000628515, 'count': 9}, 3.0: {'mean': 4404.02899440667, 'std': 596.4161034790261, 'count': 5}}
Dodda Nekkundi {2.0: {'mean': 4271.409551033765, 'std': 572.5384233681566, 'count': 19}, 3.0: {'mean': 5934.221068512782, 'std': 1020.763160342317, 'count': 7}}
Doddaballapur {1.0: {'mean': 7492.354740061162, 'std': 0.0, 'count': 1}, 3.0: {'mean': 6146.026472219081, 'std': 1416.3508688313884, 'count': 4}, 4.0: {'mean': 7306.716419287801, 'std': 1508.6011290881638, 'count': 4}}
Doddakallasandra {2.0: {'mean': 4009.260011822078, 'std': 22.428701187061954, 'count': 6}, 3.0: {'mean': 3999.4695049973843, 'std': 0.3068175498332698, 'count': 4}}
Doddathoguru {1.0: {'mean': 3193.939393939394, 'std': 145.7068518808643, 'count': 3}, 2.0: {'mean': 3695.715772231203, 'std': 513.1647769886983, 'count': 14}, 3.0: {'mean': 3920.463690699665, 'std': 643.1324346449559, 'count': 7}}
Domlur {1.0: {'mean': 9445.779914529914, 'std': 948.6331997307019, 'count': 3}, 2.0: {'mean': 7329.742881854468, 'std': 773.8913545349003, 'count': 3}, 3.0: {'mean': 8601.445470741792, 'std': 2229.6988314054834, 'count': 14}}
Dommasandra {2.0: {'mean': 3322.660889824189, 'std': 544.174150775161, 'count': 8}, 3.0: {'mean': 3313.5675560999007, 'std': 817.0930121375212, 'count': 3}, 4.0: {'mean': 2518.5185185185187, 'std': 0.0, 'count': 1}}
EPIP Zone {2.0: {'mean': 6352.512219589275, 'std': 547.9667498496266, 'count': 7}, 3.0: {'mean': 6961.117262886345, 'std': 262.90361114936303, 'count': 8}, 4.0: {'mean': 6621.198451923327, 'std': 53.43624500234158, 'count': 3}}
Electronic City {1.0: {'mean': 4328.254265940121, 'std': 1179.3241254681986, 'count': 20}, 2.0: {'mean': 4223.573582626286, 'std': 1191.7527084954636, 'count': 179}, 3.0: {'mean': 4585.774797046125, 'std': 1204.6558833568274, 'count': 75}, 4.0: {'mean': 5201.660222644956, 'std': 931.5912756321039, 'count': 5}}
Electronic City Phase II {1.0: {'mean': 4265.886287625418, 'std': 1022.5047171241084, 'count': 3}, 2.0: {'mean': 3529.072049858916, 'std': 979.4555805604972, 'count': 71}, 3.0: {'mean': 3506.7720214176666, 'std': 922.6326003596901, 'count': 43}, 4.0: {'mean': 4680.190258840645, 'std': 272.972080657902, 'count': 5}}
Electronics City Phase 1 {1.0: {'mean': 4522.306447815004, 'std': 635.4094144771141, 'count': 7}, 2.0: {'mean': 4842.116757845357, 'std': 498.05198255206807, 'count': 33}, 3.0: {'mean': 4851.575882244288, 'std': 533.2869033255906, 'count': 20}}
Frazer Town {1.0: {'mean': 11160.714285714286, 'std': 0.0, 'count': 1}, 2.0: {'mean': 9256.913801828407, 'std': 830.6145881127068, 'count': 4}, 3.0: {'mean': 10050.554168195185, 'std': 1416.9216871290587, 'count': 16}, 4.0: {'mean': 9580.08324073647, 'std': 1086.7606066839614, 'count': 6}}
GM Palaya {2.0: {'mean': 4065.297171500179, 'std': 228.5624776226282, 'count': 2}, 3.0: {'mean': 4628.867942650349, 'std': 354.0596141419346, 'count': 6}}
Garudachar Palya {2.0: {'mean': 4567.292659219588, 'std': 35.16727856616533, 'count': 9}, 3.0: {'mean': 4580.959776242796, 'std': 23.67431495380781, 'count': 6}}
Giri Nagar {3.0: {'mean': 15888.888888888889, 'std': 1888.8888888888887, 'count': 2}, 4.0: {'mean': 17361.111111111113, 'std': 982.092751647982, 'count': 3}, 6.0: {'mean': 14583.333333333334, 'std': 2083.333333333334, 'count': 2}}
Gollarapalya Hosahalli {2.0: {'mean': 4170.472980827493, 'std': 176.69088584246873, 'count': 4}, 3.0: {'mean': 4351.161786961001, 'std': 159.71264119139414, 'count': 5}, 4.0: {'mean': 4514.435695538058, 'std': 0.0, 'count': 1}}

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üè† Removing BHK Outliers

We remove outliers in **price_per_sqfeet** based on BHK stats:
- For each **location**, compute stats for each BHK and also for `(BHK - 1)`.
- If the lower BHK has ‚â• 5 data points, treat its mean as a baseline.
- Mark rows where a higher BHK has a lower `price_per_sqfeet` than the mean of `(BHK - 1)` as outliers.
- Drop these outlier rows to ensure consistent pricing per square foot with respect to BHK.

This ensures that, in the same location, a property with more bedrooms doesn‚Äôt illogically have a lower price per sq ft than a smaller one.

In [208]:
def removebhkoutliers(df):
    exclude_indexes = np.array([])
    for location,locationdfs in df.groupby('location'):
        bhk_stats={}
        for bhk,bhkdf in locationdfs.groupby('bhk'):
            bhk_stats[bhk] = {'mean' : np.mean(bhkdf.price_per_sqfeet), 'std' : np.std(bhkdf.price_per_sqfeet), 'count' : bhkdf.shape[0]}
        for bhk,bhkdf in locationdfs.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)                #get is used to handle errors in case where bhk-1 goes out of index, returns None in such a case
            if stats and stats['count'] >= 5:           #we are considering only the case where the mean calculation can be considered accurate due to value more than 5
                exclude_indexes=np.append(exclude_indexes, bhkdf[bhkdf.price_per_sqfeet<(stats['mean'])].index.values)
    return df.drop(exclude_indexes, axis= 'index')
data= removebhkoutliers(data)

In [212]:
data.shape

(7165, 8)

In [220]:
data

,availability,location,bhk,total_sqft,bath,price,price_per_sqfeet,total_sqftbybhk
0,0,1st Block Jayanagar,4.0,2850.0,4.0,428.0,15017.543860,712.500000
1,0,1st Block Jayanagar,3.0,1630.0,3.0,194.0,11901.840491,543.333333
2,1,1st Block Jayanagar,3.0,1875.0,2.0,235.0,12533.333333,625.000000
3,0,1st Block Jayanagar,3.0,1200.0,2.0,130.0,10833.333333,400.000000
4,0,1st Block Jayanagar,2.0,1235.0,2.0,148.0,11983.805668,617.500000
...,...,...,...,...,...,...,...,...
10320,0,other,2.0,1200.0,2.0,70.0,5833.333333,600.000000
10321,1,other,1.0,1800.0,1.0,200.0,11111.111111,1800.000000
10324,1,other,2.0,1353.0,2.0,110.0,8130.081301,676.500000
10325,0,other,1.0,812.0,1.0,26.0,3201.970443,812.000000
10328,1,other,4.0,3600.0,5.0,400.0,11111.111111,900.000000

In [224]:
cleandata = data.drop(columns=['price_per_sqfeet'])

In [225]:
cleandata.to_csv('cleandata.csv')

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üì¶ Why These Libraries?

We import these essential scikit-learn modules to build, preprocess, and evaluate a regression model pipeline efficiently.  
Here‚Äôs a quick explanation of each:

---

### üî∑ Imports & Purpose:
‚úÖ <span class="important">train_test_split</span>  
‚Üí Splits the dataset into training and testing sets for evaluation.

‚úÖ <span class="important">OneHotEncoder</span>  
‚Üí Converts categorical variables into a one-hot encoded numeric format.

‚úÖ <span class="important">StandardScaler</span>  
‚Üí Standardizes numerical features to have mean 0 and variance 1.

‚úÖ <span class="important">make_column_transformer</span>  
‚Üí Allows applying different preprocessing steps to specific columns.

‚úÖ <span class="important">make_pipeline</span>  
‚Üí Chains together preprocessing and modeling steps into a single workflow.

‚úÖ <span class="important">r2_score</span>  
‚Üí Evaluates the model by measuring how well it explains variance in the data.

‚úÖ <span class="important">RandomForestRegressor</span>  
‚Üí A powerful ensemble learning algorithm for regression using decision trees.

In [227]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üî∑ Splitting Data: Train & Test Sets

We separate our dataset into **features (X)** and **target (y)**,  
and then split it into **training** and **testing** sets to evaluate model performance on unseen data.

---

### üìÑ Code Explanation:
‚úÖ <span class="important">`X = cleandata.drop(columns=['price'])`</span>  
‚Üí Features: all columns except `price`.  

‚úÖ <span class="important">`y = cleandata['price']`</span>  
‚Üí Target: the `price` column.  

‚úÖ <span class="important">`train_test_split(...)`</span>  
‚Üí Splits `X` and `y` into training (80%) and testing (20%) sets,  
   with `random_state=0` to ensure reproducibility.

In [230]:
X = cleandata.drop(columns = ['price'])
y = cleandata['price']
X_train,X_test,y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

<style>
.markdown-body {
  background: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.important { color: #8ab4f8; font-weight: bold; }
</style>

# üöÄ Pipeline: Preprocessing + XGBoost

We build a **machine learning pipeline** to preprocess data and train an XGBoost regression model, then evaluate it with \( R^2 \) score.  

---

### üìÑ Code Explanation:
‚úÖ <span class="important">`scaler = StandardScaler()`</span>  
‚Üí Standardizes numerical features to mean 0 and variance 1.  

‚úÖ <span class="important">`column_trans = make_column_transformer(...)`</span>  
‚Üí Applies **OneHotEncoder** to the `location` column while passing other columns as-is.  

‚úÖ <span class="important">`xgb = XGBRegressor(...)`</span>  
‚Üí Defines an XGBoost regression model with specified hyperparameters.  

‚úÖ <span class="important">`pipe = make_pipeline(...)`</span>  
‚Üí Chains preprocessing (`column_trans` + `scaler`) and the XGBoost model into one pipeline.  

‚úÖ <span class="important">`pipe.fit(X_train, y_train)`</span>  
‚Üí Trains the pipeline on the training data.  

‚úÖ <span class="important">`r2_score(y_test, pipe.predict(X_test))`</span>  
‚Üí Evaluates the trained model‚Äôs performance on test data using \( R^2 \) score.
n
r2_score(y_test, pipe.predict(X_test))

In [232]:
scaler=StandardScaler()
column_trans = make_column_transformer((OneHotEncoder(sparse_output=False), ['location']),remainder='passthrough')
xgb = XGBRegressor(n_estimators=100,learning_rate=0.1,max_depth=5,random_state=42)
pipe = make_pipeline(column_trans, scaler, xgb)
pipe.fit(X_train, y_train)
print(r2_score(y_test, pipe.predict(X_test)))

0.8536249573916868

In [233]:
import pickle
with open("pipeline.pkl", "wb") as f:
    pickle.dump(pipe, f)

In [234]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.

<div style="background-color:#1e1e1e; color:#f1f1f1; padding:15px; border-left:5px solid #00bcd4; font-family:Arial, sans-serif;">
  <h2 style="color:#00bcd4;">üöÄ Next Steps: Launch the App</h2>
  <p>
    üéâ The machine learning pipeline has been saved as <code>pipeline.pkl</code> and the required dependencies are listed in <code>requirements.txt</code>.<br>
    Now, proceed to run <strong>app.py</strong> to launch the interactive web application using <strong>Streamlit</strong>.
  </p>
  <p>
    Below are some screenshots of the deployed app in action:
  </p>

  <div style="display:flex; justify-content:space-around; margin-top:20px;">
    <img src="screenshot1.png" alt="Screenshot 1" style="width:45%; border:2px solid #333; border-radius:4px;">
    <img src="screenshot2.png" alt="Screenshot 2" style="width:45%; border:2px solid #333; border-radius:4px;">
  </div>

  <div style="display:flex; justify-content:space-around; margin-top:20px;">
    <img src="screenshot3.png" alt="Screenshot 3" style="width:45%; border:2px solid #333; border-radius:4px;">
    <img src="screenshot4.png" alt="Screenshot 4" style="width:45%; border:2px solid #333; border-radius:4px;">
  </div>

  <p style="margin-top:20px;">
    üëâ Run <code>streamlit run app.py</code> in your terminal to get started!
  </p>
</div>